@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}
body {
  background-color: #f4f7fc;
  scroll-behavior: smooth;
}
.active{
  font-weight: Bold;
  border-bottom: 2px solid #344ED6;
}

.spikyRect {
  -webkit-filter: drop-shadow( 4px 10px 40px rgba(0, 0, 0, .7));
  filter: drop-shadow( 4px 10px 30px rgba(0, 0, 0, .5));
}